# === Django Backend Requirements ===
Django==5.0.6
djangorestframework==3.15.1
django-cors-headers==4.3.1
Pillow==10.3.0
python-dotenv==1.0.1

# Optional - only if you use these:
requests==2.31.0
drf-yasg==1.21.7   # For API documentation (optional)

qrcode[pil]
pyotp
googletrans==4.0.0-rc1
